<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page Displaying all Panthers</title>
</head>
<body>
    <h1>Home Page Displaying all Panthers</h1>
    <a href="/panthers/new">Take me to form</a>

    <% for (var i = 0; i < stuff.length; i++){ %>
        <h2><%= stuff[i].name %></h2><a href="/panthers/<%= stuff[i]._id %>" method ='get'>this panther</a>
        <h2><%= stuff[i].level %></h2>
        <h2><%= stuff[i].weapon %></h2>
    <% } %>
</body>
</html>